RewriteEngine On

# Sirve archivos estáticos tal cual
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirige todo a index.php (si tu router PHP lo requiere)
RewriteRule ^ index.php [L]
